body {background-color: whitesmoke;}
#convert{border-radius: 5px; background-color: #89CFF0; }
#convert2{border-radius: 5px; background-color: #89CFF0; }
#result{border-style: double;}
#result2{border-style: double;}